/* .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
} */

.site-header {
  padding: 10px 0;
}

.logo {
  width: 150px;
  padding-bottom: 10px;
}

html {
  overflow-y: scroll;
}
